/* Animação do cano se movendo da direita para a esquerda */
@keyframes pipe-animation {
    from {
        right: -80px; /*começa fora da tela (direita) */
    }
    to {
        right: 100%; /*termina dora da tela (esquerda) */
    }
}

.pipe {
    width: 80px;
    position : absolute;
    bottom: 0;
    animation: pipe-animation 2s infinite linear;
    /* 2s = duração | infinite = repete sempre | linear = velocidade constante */
}

/* Animação do pulo do Mario */

@keyframes jump {
    0% {bottom : 0;}
    40%, 50%, 60% {bottom: 180px;}
    100% {bottom: 0;}
}

.jump {
    animation: jump 500ms ease-out;
    /* 500ms = meio segundo | ease-out = desaceleração no final */
}

